<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/c4199a57-3451-45f7-8500-b17c8ec22b46/resourceGroups/SportsAnalytics/providers/Microsoft.Web/sites/SportsAnalytic</ResourceId>
    <ResourceGroup>SportsAnalytics</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://sportsanalytic.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://sportsanalytic.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$SportsAnalytic</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>