@using Microsoft.AspNetCore.Identity
@model AuthSystem.Models.Statistic

@{
    ViewData["Title"] = "Details of Player";
}

<title>@ViewData["Title"] - Sports Analytics</title>

<h1 class="mb-4 text-center" style="color: white; font-weight: bold">@ViewData["Title"]</h1>